/*
 * Additional styling for inputs
 */


/* Select */

// Reduce size of text
select, select.form-control {
  font-size: $font-size-base;
}

// For placeholder text in select
option[value=""]:disabled {
  display: none;
}

/* Checkbox */

// prevent checkbox label text from getting highlighted if rapidly clicking
div.checkbox, div.radio {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Radio Toggle */

.radio-label input[type=radio] {
  // hide .toggle--on and show .toggle--off when unchecked
  + .toggle--on {
    display: none;
  }
  + .toggle--off {
    display: inline-block;
  }
  // show .toggle--on and hide .toggle--off when checked
  &:checked {
    + .toggle--on {
      display: inline-block;
    }
    + .toggle--off {
      display: none;
    }
  }
}