// Styling not handled by Bootstrap or Bootswatch. Imported after those stylesheets

/* Components */
@import "components/loader";

/* Helper Classes */
// Used for reducing top/bottom padding
.no-pad-top-bottom {
  padding-top: 0;
  padding-bottom: 0;
}

// For placeholder text in select
option[value=""]:disabled {
  display: none;
}